body {
  background-color: #aacfcf;
}

img:hover {
  background-color: gold;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
h1 {
  color: #ffb6b6;
}
h3 {
  color: #679b9b;
}
.veg {
  background-color: red;
}

.non-veg{
  background-color: green;
}

.circular {
  border-radius: 100%;
}
